registry=https://pkgs.dev.azure.com/atticusburn/_packaging/atticusburn/npm/registry/ 
                        
always-auth=true
; begin auth token 
//pkgs.dev.azure.com/atticusburn/_packaging/atticusburn/npm/registry/:username=atticusburn 
//pkgs.dev.azure.com/atticusburn/_packaging/atticusburn/npm/registry/:_password=QTZob3VrdUJNMGdtbmJ2Y3hJRkRiUWVvdnJwdm0xQWF5SnNLMG1QRXpmVEFOQ2tlVnVSNEpRUUo5OUJKQUNBQUFBQUFBQUFBQUFBU0FaRE9NOG53
//pkgs.dev.azure.com/atticusburn/_packaging/atticusburn/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/atticusburn/_packaging/atticusburn/npm/:username=atticusburn 
//pkgs.dev.azure.com/atticusburn/_packaging/atticusburn/npm/:_password=QTZob3VrdUJNMGdtbmJ2Y3hJRkRiUWVvdnJwdm0xQWF5SnNLMG1QRXpmVEFOQ2tlVnVSNEpRUUo5OUJKQUNBQUFBQUFBQUFBQUFBU0FaRE9NOG53
//pkgs.dev.azure.com/atticusburn/_packaging/atticusburn/npm/:email=npm requires email to be set but doesn't use the value
; end auth token